body {
  background-color: #3d3d3d;
  background: linear-gradient(to right, #172842, #c22626);
  font-family: monospace;
  font-size: large;
}

#memeory_Container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to left, #172842, #7c1616);
  padding: 15px;
  border: 1px solid red;
  display: none;
  border-radius: 1rem;
}

.card-container {
  width: 110px;
  height: 110px;
  border: 1px solid red;
  object-fit: cover;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  background-image: url(/pallua_Memory/DesignImages/Galaxy.jpg);
  object-fit: cover;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  border-radius: 12px;
  margin: 2px;
}
.card-container > p {
  font-size: 30px;
}
.Level_button {
  width: 80px;
  height: 45px;
  background-color: white;
  border: 1px solid red;
  border-radius: 8px;
  font-family: monospace;
}
nav {
  border: 1px solid red;
  padding: 15px;
  border-radius: 1rem;
  background-image: url(/pallua_Memory/DesignImages/Galaxy.jpg);
}

nav > h1 {
  position: absolute;
  left: 43%;
  justify-content: center;
  padding: 1px;
  color: white;
  display: inline-block;
  top: 1%;
}

/* #memeory_Container > div:hover {
  background-color: #646464;
} */

.imgContainer {
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  border-radius: 12px;
}

.flipped {
  transform: rotateY(180deg);
}

.static {
  transform: rotateY(180deg);
}

.back_face {
  backface-visibility: hidden;
}

.back_face {
  transform: rotateY(180deg);
}
.card-container:hover {
  background-color: red;
}

.scoreboard-container {
  width: 200px;
  height: 600px;
  border: 1px solid red;
  background-image: url(/pallua_Memory/DesignImages/Galaxy.jpg);
  border-radius: 1rem;
  position: absolute;
  top: 21%;
  left: 1%;
}

.scoreboard-container > div {
  display: inline-flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  border: 1px solid black;
  background-color: #ffffff;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 2rem;
  text-align: center;
}

.game-scoreboard {
  width: 400px;
  height: 820px;
  border: 1px solid red;
  background-image: url();
  border-radius: 1rem;
  position: absolute;
  top: 10%;
  right: 2%;
}
.game-scoreboard > h1 {
  color: white;
  text-align: center;
}
